<div class="row">
  <div class="col-xs-8">
    <p-tree 
      [value]="tree" 
      layout="horizontal" 
      selectionMode="single" 
      pDraggable="dd"
      (onNodeSelect)="nodeSelect($event)">
    </p-tree>
  </div>
  <div class="col-xs-4">
    <div class="col-xs-4" pDroppable="dd" *ngFor="let thing of things" (onDrop)="drop($event)" >
        <p-tree 
          [value]=thing
          layout="horizontal" 
          selectionMode="single"
        >
      </p-tree>
    </div>
  </div>
</div>

